:root {
    --shadow: 0 4px 6px rgba(0,0,0,0.1);
}

body {
    background-color: #e8e9ef;
}

#video-streams {
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    width: 75%;
    margin: 0 auto;
}

.video-container {
    flex-basis: 500px;
    flex-grow: 1;
    height: 350px;
    border: 1px solid rgba(75, 95, 172, 1);
    border-radius: 5px;
    margin: 5px;
    background-color: rgba(198, 202, 219, 1);
}

.video-player {
    width: 100%;
    height: 100%;
}
