{% extends 'base/main.html' %}
{% block content %}

<div class="lobby">
    <h1>🎥 MyChat</h1>

    <form id="form">
        <input name="room" placeholder="Room Name" required />
        <button type="submit">Join Room</button>
    </form>
</div>

<script>
document.getElementById('form').onsubmit = async (e) => {
    e.preventDefault()

    let room = e.target.room.value.toUpperCase()
    let res = await fetch(`/get_token/?channel=${room}`)
    let data = await res.json()

    sessionStorage.setItem('room', room)
    sessionStorage.setItem('uid', data.uid)
    sessionStorage.setItem('token', data.token)

    window.location.href = '/room/'
}
</script>

{% endblock %}
